<h1>Add a New Director</h1>


<form action = "/create_director">
  <!--  Label and input for title-->
  <label for="dob">
    Dob
  </label>
  <input type="text" id="dob" name="dob" placeholder="Dob" class="form control">

  <!--  Label and input for year-->
  <div>
    <label for="name">
      Name
    </label>
    <input type="text" id="name" name="name" placeholder="Name" class="form control">
  </div>

  <!--  Label and input for duration-->
  <div>
    <label for="Bio">
      Bio
    </label>
    <input type="text" id="bio" name="bio" placeholder="Bio" class="form control">
  </div>

  <!--  Label and input for img_url-->
  <div>
    <label for="image_url">
      Image url
    </label>
    <input type="text" id="image_url" name="image_url" placeholder="Image url" class="form control">
  </div>


  <!--  Button to actually create the movie-->
  <input type="submit" value="Create Director" class="btn btn-primary">

</form>
